.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.headerList{
    display: flex;
    list-style-type: none;
}

.headerList > li{
    margin: 0px 10px;
}

.body{
    margin-top: 40px;
}

button{
    margin-left: 5px;
}

.card{
    border: 1px solid black;
    width: 200px;
    margin-top: 20px;
    padding: 5px;
    margin:5px
}

.cardsShow{
    display: flex;
}